input[type="radio"]{
    appearance: none;
    background-color: var(--color-main);

    height: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: var(--color-accent);
}
